/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* end of reset */
/* div,
section {
  border: 1px solid red;
} */
.wrapper {
  display: grid;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 58px 1fr;
  height: 100vh;
  width: 100vw;
}
aside {
  background-color: lightblue;
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 60px 153px 110px;
  gap: 20px;
  padding: 18px 0 0px 9px;
  color: white;
  font-size: 20px;
}
#sidebar-logo {
  font-weight: bold;
  font-size: 1.6rem;
  align-self: center;
}
.sidebar-top > section,
.sidebar-bottom > section {
  margin: 10px;
}
header {
  background-color: salmon;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 1fr 2fr;
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.card {
  border-left: 6px #ed7c12 solid;
  border-radius: 9px;
  background-color: #f8fafc;
  display: grid;

  grid-template-columns: 1fr;

  margin: 10px;
}
.card-icons {
  justify-self: end;
  margin-right: 20px;
}
.card-title {
  align-self: end;
  padding-bottom: 2px;
}
.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 29px repeat(3, 1fr);
}

.main-content-title {
  grid-column: 1/3;

  margin-top: 5px;
}
.side-content {
  width: 95%;
}
.announcement-title {
  margin-top: 11px;
}
.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border-radius: 9px;
  justify-items: center;
}
.announcement {
  display: grid;
  height: 135px;
  padding: 2%;
}
.announcement:nth-of-type(1) {
  border-radius: 25px 25px 0px 0px;
}
.announcement:nth-of-type(3) {
  border-radius: 0px 0px 25px 25px;
}
.trendings {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 53px repeat(4, 78px);
  margin-top: 17px;
}
.trending-title {
  padding-top: 17px;
  margin-top: -5px;
  grid-column: 1/3;
}
.trending {
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 55px;
  padding: 2%;
  align-content: center;
}
.trending:nth-of-type(1) {
  border-radius: 15px 15px 0px 0px;
}
.trending:nth-last-of-type(1) {
  border-radius: 0px 0px 15px 15px;
}
.bg-white {
  background-color: #f8fafc;
}
.bg-grey {
  background-color: #9ca3af;
}
